:root {
    --dark-primary-background: #444242;
    --dark-secondary-background: #5a5454;
    --dark-active-primary-background: #656474;
    --dark-active-secondary-background: #cfc1c1;
    --dark-primary-text: #fff;
    --dark-secondary-text: #dfdcdc;
    --light-primary-background: #fff;
    --light-secondary-background: #dfdcdc;
    --light-primary-text: #444242;
    --light-secondary-text: #5a5454;
  }
  
  .opened {
    background-color: var(--dark-active-primary-background) !important;
  }
  .units__subitems-text .opened[_ngcontent-lqq-c78] {
    background-color: var(--dark-active-primary-background) !important;
  }
  .gcb-question-row {
    background-color: var(--dark-secondary-background) !important;
    color: var(--dark-secondary-text);
  }
  .ng-star-inserted,
  units__subitems-text {
    background-color: var(--dark-primary-background) !important;
    color: var(--dark-primary-text) !important;
    background-clip: border-box;
  }
  
  .units__items-title {
    color: var(--dark-primary-text);
  }
  .modules__content-head-title {
    color: var(--dark-secondary-text);
  }
  .header {
    background-color: var(--dark-primary-background) !important;
  }
  .ng-tns-c29-0 {
    background-color: white;
    color: #444242;
  }
  .modules__content-head-title > div {
    color: white;
  }
  .btn-feedback {
    color: white !important;
  }
  .qt-response > input {
    color: var(--dark-primary-text) !important;
  }
  .header__email > span {
    color: var(--dark-primary-text);
  }
  span[class="ng-tns-c29-0"] {
    background-color: var(--dark-primary-background);
  }
  .opened > .units__subitems-title > span[class="ng-star-inserted"] {
    color: var(--dark-secondary-text) !important;
    background-color: var(--dark-active-primary-background) !important;
  }
  .opened .still-time-icon {
    background-color: var(--dark-active-primary-background) !important;
  }
  .units__container__sidenav__option__selected[_ngcontent-lqq-c85] {
    color: var(--dark-primary-text) !important;
    background-color: var(--dark-active-secondary-background) !important;
  }
  .qt-grade-report {
    color: var(--dark-secondary-text) !important;
  }